In [5]:
import os 
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [6]:
plays = pd.read_csv('plays.csv')
players = pd.read_csv('players.csv')
playerplay = pd.read_csv('player_play.csv')

In [7]:
tracking_data1 = pd.read_csv('tracking_week_1.csv')
tracking_data2 = pd.read_csv('tracking_week_2.csv')
tracking_data3 = pd.read_csv('tracking_week_3.csv')
tracking_data4 = pd.read_csv('tracking_week_4.csv')
tracking_data5 = pd.read_csv('tracking_week_5.csv')
tracking_data6 = pd.read_csv('tracking_week_6.csv')
tracking_data7 = pd.read_csv('tracking_week_7.csv')
tracking_data9 = pd.read_csv('tracking_week_9.csv')

In [8]:
tracking_data = pd.concat([tracking_data1,tracking_data2,tracking_data3,tracking_data4,tracking_data5,tracking_data6,tracking_data7,tracking_data9])

In [9]:
playerposition = players[['nflId','position']]

In [10]:
filteredtrack = tracking_data[['gameId','playId','frameId','nflId','displayName','x','y','event']]

In [11]:
filteredtrack = pd.merge(
    filteredtrack,
    playerposition,
    how='left',
    left_on=['nflId'],
    right_on=['nflId']
)

In [12]:
filteredtrack = filteredtrack[(filteredtrack['position']=="WR") | (filteredtrack['position']=="TE") | (filteredtrack['position']=="RB")]

In [13]:
motionplayers = playerplay[playerplay['motionSinceLineset']==True]

In [14]:
positions = players[['nflId','position']]

In [15]:
motionplayers = pd.merge(
    motionplayers,
    positions,
    how = "left",
    left_on=['nflId'],
    right_on=['nflId']
)

In [16]:
motionplayers = motionplayers[(motionplayers['position']=="WR") | (motionplayers['position']=="TE") | (motionplayers['position']=="RB")]

In [17]:
motiontracking = pd.merge(
    filteredtrack,
    motionplayers[['gameId','playId','nflId','motionSinceLineset','inMotionAtBallSnap']],
    how="inner",
    left_on=['gameId','playId','nflId'],
    right_on=['gameId','playId','nflId']
)

In [18]:
def filter_motion_to_snap(group):
    group = group.sort_values(by='frameId').reset_index(drop=True)
    line_set_indices = group[group['event'] == 'line_set'].index
    snap_indices = group[group['event'] == 'ball_snap'].index
    
    filtered_rows = []
    for start_idx in line_set_indices:
        snap_idx = snap_indices[snap_indices > start_idx].min()
        if pd.notna(snap_idx):
            filtered_rows.extend(group.loc[start_idx:snap_idx].index)
    return group.loc[filtered_rows]
filtered_df = motiontracking.groupby(['gameId', 'playId']).apply(filter_motion_to_snap).reset_index(drop=True)

C:\Users\rschw\AppData\Local\Temp\ipykernel_1748\1614609999.py:12: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  filtered_df = motiontracking.groupby(['gameId', 'playId']).apply(filter_motion_to_snap).reset_index(drop=True)

In [19]:
filtered_df[['gameId','playId']].drop_duplicates().shape

(4251, 2)

In [20]:
filtered_df

,gameId,playId,frameId,nflId,displayName,x,y,event,position,motionSinceLineset,inMotionAtBallSnap
0,2022090800,56,76,42489.0,Stefon Diggs,87.02,27.91,line_set,WR,True,False
1,2022090800,56,77,42489.0,Stefon Diggs,87.04,28.36,NaN,WR,True,False
2,2022090800,56,78,42489.0,Stefon Diggs,87.06,28.82,NaN,WR,True,False
3,2022090800,56,79,42489.0,Stefon Diggs,87.07,29.27,NaN,WR,True,False
4,2022090800,56,80,42489.0,Stefon Diggs,87.09,29.73,NaN,WR,True,False
...,...,...,...,...,...,...,...,...,...,...,...
547059,2022110700,3059,122,54604.0,Isaiah Likely,34.98,29.78,NaN,TE,True,False
547060,2022110700,3059,123,54604.0,Isaiah Likely,34.97,29.80,NaN,TE,True,False
547061,2022110700,3059,124,54604.0,Isaiah Likely,34.98,29.82,NaN,TE,True,False
547062,2022110700,3059,125,54604.0,Isaiah Likely,34.98,29.83,NaN,TE,True,False
547063,2022110700,3059,126,54604.0,Isaiah Likely,34.97,29.84,ball_snap,TE,True,False

In [21]:
plays_final = plays[["gameId","playId","absoluteYardlineNumber"]]

In [22]:
import pandas as pd
from math import sqrt

def total_distance_multi(df):
    if len(df) < 2:
        return pd.DataFrame(columns=["playId", "nflId", "total_distance"])

    results = []

    # Group by playId and nflId to isolate each player's movements
    grouped = df.groupby(["playId", "nflId"])
    
    for (playId, nflId), group in grouped:
        temp_distances = []
        start_index = 0  

        # Reset index for the group to ensure sequential indexing
        group = group.reset_index(drop=True)

        for i in range(len(group) - 1):
            x_diff = group.iloc[i + 1]["x"] - group.iloc[i]["x"]
            y_diff = group.iloc[i + 1]["y"] - group.iloc[i]["y"]
            temp_distances.append(sqrt(x_diff**2 + y_diff**2))
            
            if group.iloc[i + 1]["event"] == "line_set":
                if temp_distances:
                    results.append({
                        "playId": playId,
                        "nflId": nflId,
                        "total_distance": sum(temp_distances),
                    })
                temp_distances = []  
                start_index = i + 1  

        # Handle the last sequence
        if temp_distances:
            results.append({
                "playId": playId,
                "nflId": nflId,
                "total_distance": sum(temp_distances),
            })

    return pd.DataFrame(results)

In [23]:
total_distance_final = total_distance_multi(filtered_df)

In [24]:
total_distance_final.head(10)

   playId    nflId  total_distance
0      54  42369.0       17.395019
1      55  47839.0        4.403501
2      55  47839.0        8.012054
3      56  39975.0        5.643005
4      56  40488.0        4.885120
5      56  40488.0        2.555142
6      56  42489.0       15.935339
7      56  44792.0        8.181475
8      56  44841.0        0.245630
9      56  44841.0        0.369060

In [25]:
unique_dist_rows = total_distance_final.drop_duplicates(subset=['nflId', 'playId'])

In [26]:
unique_dist_rows.head(10)

    playId    nflId  total_distance
0       54  42369.0       17.395019
1       55  47839.0        4.403501
3       56  39975.0        5.643005
4       56  40488.0        4.885120
6       56  42489.0       15.935339
7       56  44792.0        8.181475
8       56  44841.0        0.245630
10      56  44852.0        4.337993
11      56  44947.0        4.119374
12      56  45280.0       14.656758

In [27]:
filtered_df

,gameId,playId,frameId,nflId,displayName,x,y,event,position,motionSinceLineset,inMotionAtBallSnap
0,2022090800,56,76,42489.0,Stefon Diggs,87.02,27.91,line_set,WR,True,False
1,2022090800,56,77,42489.0,Stefon Diggs,87.04,28.36,NaN,WR,True,False
2,2022090800,56,78,42489.0,Stefon Diggs,87.06,28.82,NaN,WR,True,False
3,2022090800,56,79,42489.0,Stefon Diggs,87.07,29.27,NaN,WR,True,False
4,2022090800,56,80,42489.0,Stefon Diggs,87.09,29.73,NaN,WR,True,False
...,...,...,...,...,...,...,...,...,...,...,...
547059,2022110700,3059,122,54604.0,Isaiah Likely,34.98,29.78,NaN,TE,True,False
547060,2022110700,3059,123,54604.0,Isaiah Likely,34.97,29.80,NaN,TE,True,False
547061,2022110700,3059,124,54604.0,Isaiah Likely,34.98,29.82,NaN,TE,True,False
547062,2022110700,3059,125,54604.0,Isaiah Likely,34.98,29.83,NaN,TE,True,False
547063,2022110700,3059,126,54604.0,Isaiah Likely,34.97,29.84,ball_snap,TE,True,False

In [28]:
filtered_df1 = pd.merge(
    filtered_df,
    plays_final[['gameId', 'playId', 'absoluteYardlineNumber']],
    how="inner",
    left_on=['gameId', 'playId'],
    right_on=['gameId', 'playId']
)

In [29]:
filtered_df1

,gameId,playId,frameId,nflId,displayName,x,y,event,position,motionSinceLineset,inMotionAtBallSnap,absoluteYardlineNumber
0,2022090800,56,76,42489.0,Stefon Diggs,87.02,27.91,line_set,WR,True,False,85
1,2022090800,56,77,42489.0,Stefon Diggs,87.04,28.36,NaN,WR,True,False,85
2,2022090800,56,78,42489.0,Stefon Diggs,87.06,28.82,NaN,WR,True,False,85
3,2022090800,56,79,42489.0,Stefon Diggs,87.07,29.27,NaN,WR,True,False,85
4,2022090800,56,80,42489.0,Stefon Diggs,87.09,29.73,NaN,WR,True,False,85
...,...,...,...,...,...,...,...,...,...,...,...,...
547059,2022110700,3059,122,54604.0,Isaiah Likely,34.98,29.78,NaN,TE,True,False,33
547060,2022110700,3059,123,54604.0,Isaiah Likely,34.97,29.80,NaN,TE,True,False,33
547061,2022110700,3059,124,54604.0,Isaiah Likely,34.98,29.82,NaN,TE,True,False,33
547062,2022110700,3059,125,54604.0,Isaiah Likely,34.98,29.83,NaN,TE,True,False,33
547063,2022110700,3059,126,54604.0,Isaiah Likely,34.97,29.84,ball_snap,TE,True,False,33

In [30]:
motionstats = (
    filtered_df1.groupby(['gameId', 'playId', 'nflId', 'position'])[['x', 'y']]
    .agg(['first', 'last', 'max', 'min'])
    .reset_index()
)

# Flatten the column structure
motionstats.columns = [
    '_'.join(col).strip('_') if isinstance(col, tuple) else col
    for col in motionstats.columns
]

In [31]:
motionstats

,gameId,playId,nflId,position,x_first,x_last,x_max,x_min,y_first,y_last,y_max,y_min
0,2022090800,56,42489.0,WR,87.02,86.24,87.17,86.24,27.91,43.65,43.67,27.91
1,2022090800,80,47857.0,RB,81.74,85.83,85.83,81.72,39.38,31.54,39.41,28.69
2,2022090800,212,47879.0,TE,45.90,46.68,46.68,45.90,23.83,32.83,32.83,23.83
3,2022090800,236,52536.0,WR,37.08,36.79,37.12,36.79,40.09,35.27,40.09,35.27
4,2022090800,299,43399.0,TE,24.11,25.54,25.76,24.09,23.81,18.99,23.81,18.86
...,...,...,...,...,...,...,...,...,...,...,...,...
5006,2022110700,2182,33130.0,WR,77.97,80.17,80.17,77.97,21.85,27.69,27.69,21.85
5007,2022110700,2261,43362.0,RB,87.89,88.42,88.42,87.89,25.99,21.37,25.99,21.37
5008,2022110700,2307,43362.0,RB,89.24,90.04,90.04,89.22,28.73,24.25,28.73,24.25
5009,2022110700,2496,44879.0,RB,56.72,56.40,56.94,56.34,23.27,29.17,29.19,23.23
5010,2022110700,3059,54604.0,TE,35.97,34.97,36.07,34.97,18.46,29.84,29.84,18.40

In [32]:
y_forward_change = (motionstats['y_last'] > motionstats['y_first']) & (motionstats['y_max'] > (motionstats['y_last'] + 1))
y_backward_change = (motionstats['y_last'] <= motionstats['y_first']) & (motionstats['y_min'] < (motionstats['y_last'] - 1))

x_forward_change = (motionstats['x_last'] > motionstats['x_first']) & (motionstats['x_max'] > (motionstats['x_last'] + 1))
x_backward_change = (motionstats['x_last'] <= motionstats['x_first']) & (motionstats['x_min'] < (motionstats['x_last'] - 1))

motionstats['direction_change'] = (y_forward_change | y_backward_change) | (x_forward_change | x_backward_change)

In [33]:
motionstats = pd.merge(
    motionstats,
    playerplay[['gameId','playId','nflId','inMotionAtBallSnap']],
    how="left",
    left_on=['gameId','playId','nflId'],
    right_on=['gameId','playId','nflId']
)

In [34]:
final_motionstats = pd.merge(
    motionstats,
    unique_dist_rows[['total_distance','playId','nflId']],
    how="left",
    left_on=['playId','nflId'],
    right_on=['playId','nflId']
)

In [35]:
final_motionstats['total_distance'] = final_motionstats['total_distance'].clip(upper=100)
final_motionstats

,gameId,playId,nflId,position,x_first,x_last,x_max,x_min,y_first,y_last,y_max,y_min,direction_change,inMotionAtBallSnap,total_distance
0,2022090800,56,42489.0,WR,87.02,86.24,87.17,86.24,27.91,43.65,43.67,27.91,False,False,15.935339
1,2022090800,80,47857.0,RB,81.74,85.83,85.83,81.72,39.38,31.54,39.41,28.69,True,True,14.632298
2,2022090800,212,47879.0,TE,45.90,46.68,46.68,45.90,23.83,32.83,32.83,23.83,False,True,9.043568
3,2022090800,236,52536.0,WR,37.08,36.79,37.12,36.79,40.09,35.27,40.09,35.27,False,True,4.990784
4,2022090800,299,43399.0,TE,24.11,25.54,25.76,24.09,23.81,18.99,23.81,18.86,False,False,11.616233
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5006,2022110700,2182,33130.0,WR,77.97,80.17,80.17,77.97,21.85,27.69,27.69,21.85,False,True,6.688651
5007,2022110700,2261,43362.0,RB,87.89,88.42,88.42,87.89,25.99,21.37,25.99,21.37,False,False,4.675413
5008,2022110700,2307,43362.0,RB,89.24,90.04,90.04,89.22,28.73,24.25,28.73,24.25,False,False,4.675344
5009,2022110700,2496,44879.0,RB,56.72,56.40,56.94,56.34,23.27,29.17,29.19,23.23,False,False,6.502555
5010,2022110700,3059,54604.0,TE,35.97,34.97,36.07,34.97,18.46,29.84,29.84,18.40,False,False,11.763507

In [36]:
final_df = final_motionstats

In [37]:
final_motionstats = final_motionstats.drop_duplicates(subset=['nflId', 'playId'])

In [38]:
final_df = pd.get_dummies(final_motionstats, columns=['position'], prefix='pos', drop_first=True)

In [39]:
final_df

,gameId,playId,nflId,x_first,x_last,x_max,x_min,y_first,y_last,y_max,y_min,direction_change,inMotionAtBallSnap,total_distance,pos_TE,pos_WR
0,2022090800,56,42489.0,87.02,86.24,87.17,86.24,27.91,43.65,43.67,27.91,False,False,15.935339,False,True
1,2022090800,80,47857.0,81.74,85.83,85.83,81.72,39.38,31.54,39.41,28.69,True,True,14.632298,False,False
2,2022090800,212,47879.0,45.90,46.68,46.68,45.90,23.83,32.83,32.83,23.83,False,True,9.043568,True,False
3,2022090800,236,52536.0,37.08,36.79,37.12,36.79,40.09,35.27,40.09,35.27,False,True,4.990784,False,True
4,2022090800,299,43399.0,24.11,25.54,25.76,24.09,23.81,18.99,23.81,18.86,False,False,11.616233,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5006,2022110700,2182,33130.0,77.97,80.17,80.17,77.97,21.85,27.69,27.69,21.85,False,True,6.688651,False,True
5007,2022110700,2261,43362.0,87.89,88.42,88.42,87.89,25.99,21.37,25.99,21.37,False,False,4.675413,False,False
5008,2022110700,2307,43362.0,89.24,90.04,90.04,89.22,28.73,24.25,28.73,24.25,False,False,4.675344,False,False
5009,2022110700,2496,44879.0,56.72,56.40,56.94,56.34,23.27,29.17,29.19,23.23,False,False,6.502555,False,False
5010,2022110700,3059,54604.0,35.97,34.97,36.07,34.97,18.46,29.84,29.84,18.40,False,False,11.763507,True,False

In [40]:
plays_final = plays[["gameId","playId","absoluteYardlineNumber"]]
plays_final

           gameId  playId  absoluteYardlineNumber
0      2022102302    2655                      31
1      2022091809    3698                      18
2      2022103004    3146                      30
3      2022110610     348                      33
4      2022102700    2799                      37
...           ...     ...                     ...
16119  2022110604    1051                      79
16120  2022103005    3492                      35
16121  2022092502    2337                      97
16122  2022091809     719                      57
16123  2022101602    3046                      44

[16124 rows x 3 columns]

In [41]:
final_df = pd.merge(
    final_df,
    plays_final[['gameId', 'playId', 'absoluteYardlineNumber']],
    how="inner",
    left_on=['gameId', 'playId'],
    right_on=['gameId', 'playId']
)

In [42]:
def adjust_x_coordinates(row):
 
    adjusted_x_first = abs(row["x_first"] - row["absoluteYardlineNumber"])
    adjusted_x_last = abs(row["x_last"] - row["absoluteYardlineNumber"])
    adjusted_x_max = abs(row["x_max"] - row["absoluteYardlineNumber"])
    adjusted_x_min = abs(row["x_min"] - row["absoluteYardlineNumber"])

   
    return pd.Series([adjusted_x_first, adjusted_x_last, adjusted_x_max, adjusted_x_min])


final_df[['adjusted_x_first', 'adjusted_x_last', 'adjusted_x_max', 'adjusted_x_min']] = final_df.apply(adjust_x_coordinates, axis=1)

final_df[['gameId', 'playId', 'nflId', 'absoluteYardlineNumber', 'x_first', 'x_last', 'x_max', 'x_min',
        'adjusted_x_first', 'adjusted_x_last', 'adjusted_x_max', 'adjusted_x_min',
       'y_first', 'y_last', 'y_max', 'y_min', 'direction_change',
       'inMotionAtBallSnap', 'total_distance', 'pos_TE', 'pos_WR']]

,gameId,playId,nflId,absoluteYardlineNumber,x_first,x_last,x_max,x_min,adjusted_x_first,adjusted_x_last,...,adjusted_x_min,y_first,y_last,y_max,y_min,direction_change,inMotionAtBallSnap,total_distance,pos_TE,pos_WR
0,2022090800,56,42489.0,85,87.02,86.24,87.17,86.24,2.02,1.24,...,1.24,27.91,43.65,43.67,27.91,False,False,15.935339,False,True
1,2022090800,80,47857.0,79,81.74,85.83,85.83,81.72,2.74,6.83,...,2.72,39.38,31.54,39.41,28.69,True,True,14.632298,False,False
2,2022090800,212,47879.0,44,45.90,46.68,46.68,45.90,1.90,2.68,...,1.90,23.83,32.83,32.83,23.83,False,True,9.043568,True,False
3,2022090800,236,52536.0,36,37.08,36.79,37.12,36.79,1.08,0.79,...,0.79,40.09,35.27,40.09,35.27,False,True,4.990784,False,True
4,2022090800,299,43399.0,27,24.11,25.54,25.76,24.09,2.89,1.46,...,2.91,23.81,18.99,23.81,18.86,False,False,11.616233,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4992,2022110700,2182,33130.0,83,77.97,80.17,80.17,77.97,5.03,2.83,...,5.03,21.85,27.69,27.69,21.85,False,True,6.688651,False,True
4993,2022110700,2261,43362.0,94,87.89,88.42,88.42,87.89,6.11,5.58,...,6.11,25.99,21.37,25.99,21.37,False,False,4.675413,False,False
4994,2022110700,2307,43362.0,96,89.24,90.04,90.04,89.22,6.76,5.96,...,6.78,28.73,24.25,28.73,24.25,False,False,4.675344,False,False
4995,2022110700,2496,44879.0,51,56.72,56.40,56.94,56.34,5.72,5.40,...,5.34,23.27,29.17,29.19,23.23,False,False,6.502555,False,False
4996,2022110700,3059,54604.0,33,35.97,34.97,36.07,34.97,2.97,1.97,...,1.97,18.46,29.84,29.84,18.40,False,False,11.763507,True,False

In [43]:
final_df

,gameId,playId,nflId,x_first,x_last,x_max,x_min,y_first,y_last,y_max,...,direction_change,inMotionAtBallSnap,total_distance,pos_TE,pos_WR,absoluteYardlineNumber,adjusted_x_first,adjusted_x_last,adjusted_x_max,adjusted_x_min
0,2022090800,56,42489.0,87.02,86.24,87.17,86.24,27.91,43.65,43.67,...,False,False,15.935339,False,True,85,2.02,1.24,2.17,1.24
1,2022090800,80,47857.0,81.74,85.83,85.83,81.72,39.38,31.54,39.41,...,True,True,14.632298,False,False,79,2.74,6.83,6.83,2.72
2,2022090800,212,47879.0,45.90,46.68,46.68,45.90,23.83,32.83,32.83,...,False,True,9.043568,True,False,44,1.90,2.68,2.68,1.90
3,2022090800,236,52536.0,37.08,36.79,37.12,36.79,40.09,35.27,40.09,...,False,True,4.990784,False,True,36,1.08,0.79,1.12,0.79
4,2022090800,299,43399.0,24.11,25.54,25.76,24.09,23.81,18.99,23.81,...,False,False,11.616233,True,False,27,2.89,1.46,1.24,2.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4992,2022110700,2182,33130.0,77.97,80.17,80.17,77.97,21.85,27.69,27.69,...,False,True,6.688651,False,True,83,5.03,2.83,2.83,5.03
4993,2022110700,2261,43362.0,87.89,88.42,88.42,87.89,25.99,21.37,25.99,...,False,False,4.675413,False,False,94,6.11,5.58,5.58,6.11
4994,2022110700,2307,43362.0,89.24,90.04,90.04,89.22,28.73,24.25,28.73,...,False,False,4.675344,False,False,96,6.76,5.96,5.96,6.78
4995,2022110700,2496,44879.0,56.72,56.40,56.94,56.34,23.27,29.17,29.19,...,False,False,6.502555,False,False,51,5.72,5.40,5.94,5.34
4996,2022110700,3059,54604.0,35.97,34.97,36.07,34.97,18.46,29.84,29.84,...,False,False,11.763507,True,False,33,2.97,1.97,3.07,1.97

In [53]:
final_df = final_df[final_df["total_distance"] >= 2]
final_df.tail(50)

,gameId,playId,nflId,x_first,x_last,x_max,x_min,y_first,y_last,y_max,...,direction_change,inMotionAtBallSnap,total_distance,pos_TE,pos_WR,absoluteYardlineNumber,adjusted_x_first,adjusted_x_last,adjusted_x_max,adjusted_x_min
4943,2022110609,1254,42837.0,30.07,27.88,30.07,27.74,11.60,22.28,23.28,...,0,0,26.589085,False,False,33,2.93,5.12,2.93,5.26
4944,2022110609,1254,43399.0,30.70,30.96,30.96,28.58,19.34,31.56,31.57,...,0,0,66.171740,True,False,33,2.30,2.04,2.04,4.42
4945,2022110609,1345,44896.0,78.11,77.63,78.16,77.50,30.49,18.05,30.49,...,0,1,12.547050,False,True,75,3.11,2.63,3.16,2.50
4946,2022110609,1611,37079.0,59.82,59.73,60.06,59.73,12.00,18.51,18.51,...,0,1,7.411737,False,True,57,2.82,2.73,3.06,2.73
4947,2022110609,1758,44881.0,47.22,43.09,47.78,43.09,19.81,24.65,24.65,...,0,1,16.452438,False,True,50,2.78,6.91,2.22,6.91
4948,2022110609,2328,47853.0,47.81,48.39,48.39,47.80,21.95,26.72,26.73,...,0,0,5.850842,False,False,54,6.19,5.61,5.61,6.20
4949,2022110609,2449,44881.0,97.26,96.80,97.26,96.22,33.72,14.69,33.72,...,0,0,19.651406,False,True,99,1.74,2.20,1.74,2.78
4950,2022110609,2877,47853.0,61.15,55.67,61.15,55.59,44.81,29.33,44.86,...,0,0,17.237649,False,False,63,1.85,7.33,1.85,7.41
4951,2022110609,2898,53678.0,63.77,62.31,63.77,62.31,18.74,23.64,38.60,...,1,1,35.329538,False,True,66,2.23,3.69,2.23,3.69
4952,2022110609,2962,42837.0,85.41,85.75,85.75,85.22,28.55,24.36,28.55,...,0,0,4.815455,False,False,91,5.59,5.25,5.25,5.78
4953,2022110609,3017,44896.0,88.31,87.46,88.31,87.46,29.21,22.24,29.21,...,0,0,7.532476,False,True,85,3.31,2.46,3.31,2.46
4956,2022110609,3284,44896.0,45.32,45.76,45.76,45.29,9.59,20.21,20.21,...,0,1,11.045552,False,True,48,2.68,2.24,2.24,2.71
4957,2022110609,3569,44881.0,92.89,93.86,93.86,92.75,36.23,30.92,36.23,...,0,1,5.689284,False,True,90,2.89,3.86,3.86,2.75
4958,2022110609,3796,54556.0,77.61,78.42,78.42,77.60,27.43,32.37,32.48,...,0,0,5.575081,False,False,83,5.39,4.58,4.58,5.40
4959,2022110609,3841,44896.0,100.77,99.75,100.77,99.69,36.26,23.21,36.30,...,0,1,13.446676,False,True,103,2.23,3.25,2.23,3.31
4960,2022110609,3862,41233.0,101.23,101.46,101.46,100.87,7.51,14.58,14.58,...,0,1,7.473810,False,True,104,2.77,2.54,2.54,3.13
4961,2022110609,3891,54571.0,100.67,100.88,100.88,100.25,29.53,17.72,29.53,...,0,1,11.892261,True,False,104,3.33,3.12,3.12,3.75
4962,2022110609,3913,42369.0,101.15,101.19,101.19,100.52,30.94,15.37,30.95,...,0,1,15.827119,False,True,104,2.85,2.81,2.81,3.48
4963,2022110609,4162,41233.0,94.03,94.87,94.88,94.03,12.66,10.35,12.66,...,0,0,13.339863,False,True,96,1.97,1.13,1.12,1.97
4964,2022110609,4162,44816.0,91.06,91.10,91.11,90.71,28.85,27.41,28.86,...,0,0,3.817922,False,False,96,4.94,4.90,4.89,5.29
4965,2022110609,4162,54571.0,93.15,95.20,95.26,93.15,35.19,36.91,37.00,...,0,0,6.468704,True,False,96,2.85,0.80,0.74,2.85
4966,2022110609,4224,54571.0,106.68,107.37,107.37,106.38,29.59,18.78,29.64,...,1,0,15.559536,True,False,109,2.32,1.63,1.63,2.62
4967,2022110610,88,40011.0,84.09,84.11,84.80,84.04,24.43,22.07,27.01,...,0,1,7.881850,True,False,82,2.09,2.11,2.80,2.04
4968,2022110610,112,46213.0,76.21,76.90,77.03,76.19,33.64,30.96,33.64,...,1,1,13.082190,False,True,74,2.21,2.90,3.03,2.19
4969,2022110610,141,40011.0,70.55,70.83,70.83,70.53,16.51,19.18,19.18,...,0,1,2.701742,True,False,68,2.55,2.83,2.83,2.53
4970,2022110610,372,47839.0,30.55,32.00,32.04,30.35,17.83,28.63,28.63,...,0,1,11.683778,False,True,29,1.55,3.00,3.04,1.35
4971,2022110610,401,53449.0,19.50,19.98,20.54,19.50,22.54,36.63,36.63,...,0,0,14.500849,False,True,18,1.50,1.98,2.54,1.50
4972,2022110610,455,40011.0,29.73,29.54,29.73,29.54,43.55,39.02,43.55,...,0,1,4.541469,True,False,28,1.73,1.54,1.73,1.54
4973,2022110610,716,54716.0,71.15,70.85,71.53,70.85,27.55,31.93,32.01,...,0,0,4.858501,False,False,66,5.15,4.85,5.53,4.85
4974,2022110610,833,52440.0,26.98,27.63,27.63,26.98,23.97,27.93,27.93,...,0,1,4.018393,False,False,22,4.98,5.63,5.63,4.98
4975,2022110610,2289,40011.0,87.57,87.48,87.64,87.48,8.28,13.83,13.83,...,0,1,5.564933,True,False,85,2.57,2.48,2.64,2.48
4977,2022110610,2846,40011.0,72.07,72.17,72.34,71.97,35.54,24.89,35.59,...,0,1,11.089570,True,False,70,2.07,2.17,2.34,1.97
4978,2022110610,2875,40011.0,58.66,58.89,58.89,58.66,15.92,19.20,19.20,...,0,1,3.299572,True,False,56,2.66,2.89,2.89,2.66
4979,2022110610,3289,45280.0,50.12,49.86,50.30,49.86,11.51,20.21,20.21,...,0,0,8.929222,False,True,48,2.12,1.86,2.30,1.86
4980,2022110610,3912,52440.0,53.92,51.18,53.93,51.18,21.63,26.37,26.37,...,0,1,5.835511,False,False,55,1.08,3.82,1.07,3.82
4981,2022110610,4255,40011.0,92.07,91.84,92.49,91.84,24.34,21.43,24.43,...,0,1,3.554824,True,False,90,2.07,1.84,2.49,1.84
4982,2022110610,4324,53591.0,66.93,66.83,67.69,66.83,31.27,19.66,31.29,...,0,1,11.894610,True,False,65,1.93,1.83,2.69,1.83
4983,2022110610,4348,53591.0,62.70,59.74,62.70,59.74,21.75,29.23,29.23,...,0,1,8.423670,True,False,59,3.70,0.74,3.70,0.74
4985,2022110700,271,52609.0,23.87,24.32,24.32,23.28,32.13,17.73,32.13,...,0,0,14.598390,False,True,27,3.13,2.68,2.68,3.72
4986,2022110700,354,52513.0,92.05,89.21,92.05,89.08,28.04,32.31,32.54,...,0,0,17.928349,True,False,88,4.05,1.21,4.05,1.08
4987,2022110700,354,52942.0,89.84,89.56,90.51,89.55,22.93,33.80,33.90,...,0,0,22.950603,True,False,88,1.84,1.56,2.51,1.55
4988,2022110700,588,52609.0,60.68,60.83,60.86,60.56,34.08,38.67,38.69,...,0,0,4.922882,False,True,63,2.32,2.17,2.14,2.44
4989,2022110700,971,43362.0,79.40,79.42,79.46,79.38,29.74,26.80,29.84,...,0,1,3.386030,False,False,71,8.40,8.42,8.46,8.38
4990,2022110700,1025,43362.0,70.36,67.60,70.36,67.60,31.72,23.57,31.72,...,0,0,8.832756,False,False,65,5.36,2.60,5.36,2.60
4991,2022110700,1577,43362.0,23.71,24.00,24.10,23.68,29.67,30.98,31.17,...,0,0,2.034798,False,False,22,1.71,2.00,2.10,1.68
4992,2022110700,2182,33130.0,77.97,80.17,80.17,77.97,21.85,27.69,27.69,...,0,1,6.688651,False,True,83,5.03,2.83,2.83,5.03
4993,2022110700,2261,43362.0,87.89,88.42,88.42,87.89,25.99,21.37,25.99,...,0,0,4.675413,False,False,94,6.11,5.58,5.58,6.11
4994,2022110700,2307,43362.0,89.24,90.04,90.04,89.22,28.73,24.25,28.73,...,0,0,4.675344,False,False,96,6.76,5.96,5.96,6.78
4995,2022110700,2496,44879.0,56.72,56.40,56.94,56.34,23.27,29.17,29.19,...,0,0,6.502555,False,False,51,5.72,5.40,5.94,5.34
4996,2022110700,3059,54604.0,35.97,34.97,36.07,34.97,18.46,29.84,29.84,...,0,0,11.763507,True,False,33,2.97,1.97,3.07,1.97

In [52]:
clusters = pd.read_csv("clusters.csv")
clusters.head(50)

,Unnamed: 0,gameId,playId,nflId,x_first,x_last,x_max,x_min,y_first,y_last,...,inMotionAtBallSnap,total_distance,pos_TE,pos_WR,absoluteYardlineNumber,adjusted_x_first,adjusted_x_last,adjusted_x_max,adjusted_x_min,cluster
0,0,2022090800,56,42489.0,87.02,86.24,87.17,86.24,27.91,43.65,...,0,22.138798,False,True,85,2.02,1.24,2.17,1.24,3.0
1,1,2022090800,80,47857.0,81.74,85.83,85.83,81.72,39.38,31.54,...,1,55.299840,False,False,79,2.74,6.83,6.83,2.72,6.0
2,2,2022090800,212,47879.0,45.90,46.68,46.68,45.90,23.83,32.83,...,1,21.079664,True,False,44,1.90,2.68,2.68,1.90,0.0
3,3,2022090800,236,52536.0,37.08,36.79,37.12,36.79,40.09,35.27,...,1,29.596483,False,True,36,1.08,0.79,1.12,0.79,3.0
4,5,2022090800,299,44881.0,25.77,23.52,25.77,23.52,13.27,18.81,...,1,20.693509,False,True,27,1.23,3.48,1.23,3.48,1.0
5,6,2022090800,299,53678.0,24.15,24.60,24.71,24.15,33.90,28.96,...,0,10.090079,False,True,27,2.85,2.40,2.29,2.85,3.0
6,7,2022090800,343,44881.0,24.74,24.67,24.79,24.64,17.01,21.17,...,1,14.690872,False,True,27,2.26,2.33,2.21,2.36,1.0
7,8,2022090800,364,44881.0,19.39,26.17,26.17,19.35,29.69,14.66,...,0,49.293067,False,True,29,9.61,2.83,2.83,9.65,2.0
8,9,2022090800,393,44881.0,49.54,48.82,49.54,48.82,36.98,33.54,...,1,28.820243,False,True,52,2.46,3.18,2.46,3.18,3.0
9,11,2022090800,438,53678.0,60.41,59.29,60.43,59.29,14.58,19.88,...,1,49.836154,False,True,63,2.59,3.71,2.57,3.71,1.0
10,12,2022090800,529,47879.0,103.04,102.95,103.05,102.95,23.99,24.52,...,1,21.763979,True,False,101,2.04,1.95,2.05,1.95,4.0
11,13,2022090800,550,42489.0,95.75,95.79,96.25,95.73,44.18,38.71,...,1,23.307326,False,True,94,1.75,1.79,2.25,1.73,3.0
12,14,2022090800,569,42489.0,96.93,97.44,97.53,96.85,21.05,34.99,...,1,35.855567,False,True,95,1.93,2.44,2.53,1.85,5.0
13,15,2022090800,617,44985.0,76.33,76.70,76.70,76.33,30.15,21.53,...,1,43.349944,False,True,74,2.33,2.70,2.70,2.33,5.0
14,16,2022090800,721,42448.0,40.66,40.47,41.05,40.17,21.42,18.39,...,0,4.036558,False,True,39,1.66,1.47,2.05,1.17,1.0
15,18,2022090800,721,47857.0,44.16,43.79,44.17,43.09,31.98,26.53,...,0,11.124909,False,False,39,5.16,4.79,5.17,4.09,2.0
16,19,2022090800,818,47853.0,82.31,86.96,86.96,82.29,39.34,27.82,...,1,59.547219,False,False,80,2.31,6.96,6.96,2.29,2.0
17,20,2022090800,896,54528.0,40.27,38.98,40.27,38.89,30.61,25.89,...,0,16.154908,False,False,44,3.73,5.02,3.73,5.11,2.0
18,21,2022090800,933,43399.0,48.00,47.00,48.00,46.90,20.11,19.38,...,0,15.544893,True,False,46,2.00,1.00,2.00,0.90,4.0
19,23,2022090800,1030,44985.0,47.40,46.86,47.52,46.76,30.66,26.77,...,1,54.047282,False,True,50,2.60,3.14,2.48,3.24,6.0
20,24,2022090800,1102,42818.0,83.99,83.41,84.17,83.36,10.31,20.94,...,0,6.969828,False,True,85,1.01,1.59,0.83,1.64,1.0
21,25,2022090800,1102,44985.0,82.88,83.44,83.70,82.79,21.41,15.44,...,0,14.136849,False,True,85,2.12,1.56,1.30,2.21,1.0
22,26,2022090800,1102,47879.0,83.57,83.80,83.87,81.91,35.53,37.98,...,0,5.068659,True,False,85,1.43,1.20,1.13,3.09,0.0
23,28,2022090800,1102,52536.0,83.62,84.31,84.33,82.95,17.27,10.45,...,0,4.205615,False,True,85,1.38,0.69,0.67,2.05,1.0
24,30,2022090800,1187,53486.0,72.18,73.00,73.00,72.18,21.91,25.64,...,1,11.080018,False,True,70,2.18,3.00,3.00,2.18,5.0
25,31,2022090800,1230,44881.0,73.50,68.39,73.50,68.38,26.56,14.69,...,0,23.939370,False,True,66,7.50,2.39,7.50,2.38,2.0
26,32,2022090800,1254,47853.0,60.11,60.72,60.72,60.10,21.60,23.64,...,1,15.849523,False,False,54,6.11,6.72,6.72,6.10,2.0
27,33,2022090800,1286,44881.0,48.13,48.10,48.13,48.08,28.87,28.78,...,0,12.290016,False,True,46,2.13,2.10,2.13,2.08,5.0
28,35,2022090800,1334,41290.0,51.77,50.54,51.77,50.49,13.04,8.60,...,0,8.746456,False,True,50,1.77,0.54,1.77,0.49,1.0
29,37,2022090800,1385,44881.0,36.95,36.64,37.20,36.49,38.28,34.37,...,0,28.918711,False,True,35,1.95,1.64,2.20,1.49,3.0
30,38,2022090800,1427,53678.0,16.34,16.26,16.34,16.26,20.73,20.94,...,1,17.413963,False,True,14,2.34,2.26,2.34,2.26,1.0
31,39,2022090800,1504,47857.0,31.44,31.94,31.94,31.41,29.00,23.89,...,0,25.082707,False,False,37,5.56,5.06,5.06,5.59,2.0
32,40,2022090800,1757,53678.0,43.85,45.20,45.20,43.85,39.24,34.98,...,1,11.512681,False,True,41,2.85,4.20,4.20,2.85,3.0
33,41,2022090800,1836,43399.0,50.30,49.90,50.30,49.87,31.44,32.22,...,0,30.966690,True,False,48,2.30,1.90,2.30,1.87,0.0
34,42,2022090800,1991,41290.0,25.14,25.64,25.67,25.03,15.77,9.11,...,0,19.651425,False,True,27,1.86,1.36,1.33,1.97,1.0
35,43,2022090800,1991,44881.0,24.47,24.43,24.48,24.34,35.41,36.83,...,0,27.475691,False,True,27,2.53,2.57,2.52,2.66,3.0
36,45,2022090800,2043,47879.0,70.42,70.44,70.45,70.41,28.36,27.71,...,1,12.438884,True,False,68,2.42,2.44,2.45,2.41,0.0
37,46,2022090800,2072,47879.0,58.79,58.81,58.85,58.79,28.65,28.19,...,1,3.872014,True,False,56,2.79,2.81,2.85,2.79,0.0
38,47,2022090800,2093,54528.0,60.18,59.62,60.36,59.58,25.24,20.85,...,0,32.291098,False,False,55,5.18,4.62,5.36,4.58,2.0
39,48,2022090800,2184,42489.0,34.15,33.00,34.28,33.00,29.17,8.17,...,0,44.731620,False,True,32,2.15,1.00,2.28,1.00,1.0
40,49,2022090800,2208,47857.0,31.15,31.23,31.23,31.08,31.68,28.19,...,1,9.608525,False,False,25,6.15,6.23,6.23,6.08,2.0
41,50,2022090800,2288,53678.0,32.75,31.58,32.84,31.58,22.38,25.91,...,1,31.780989,False,True,35,2.25,3.42,2.16,3.42,5.0
42,51,2022090800,2336,44881.0,55.43,54.60,55.44,54.60,39.44,34.12,...,1,20.707381,False,True,58,2.57,3.40,2.56,3.40,3.0
43,52,2022090800,2360,43399.0,66.81,66.89,66.89,66.81,25.01,25.06,...,0,6.972382,True,False,68,1.19,1.11,1.11,1.19,4.0
44,53,2022090800,2381,47853.0,67.04,67.00,67.07,67.00,18.33,18.30,...,0,43.869063,False,False,69,1.96,2.00,1.93,2.00,1.0
45,54,2022090800,2464,42489.0,106.46,106.62,106.69,106.41,37.04,24.33,...,1,28.584858,False,True,104,2.46,2.62,2.69,2.41,5.0
46,55,2022090800,2527,47879.0,91.51,91.31,91.51,91.19,28.80,18.72,...,1,47.898649,True,False,88,3.51,3.31,3.51,3.19,4.0
47,56,2022090800,2688,42489.0,55.07,54.74,55.07,54.56,8.45,15.12,...,1,54.164456,False,True,57,1.93,2.26,1.93,2.44,1.0
48,57,2022090800,2712,42448.0,102.02,100.99,102.02,100.99,15.11,18.81,...,1,13.602801,False,True,104,1.98,3.01,1.98,3.01,1.0
49,59,2022090800,2733,47857.0,99.91,99.38,99.91,99.38,21.50,25.53,...,1,18.588235,False,False,106,6.09,6.62,6.09,6.62,2.0

In [45]:
final_df_sorted = final_df.sort_values(by="total_distance", ascending=True)
final_df_sorted

,gameId,playId,nflId,x_first,x_last,x_max,x_min,y_first,y_last,y_max,...,direction_change,inMotionAtBallSnap,total_distance,pos_TE,pos_WR,absoluteYardlineNumber,adjusted_x_first,adjusted_x_last,adjusted_x_max,adjusted_x_min
1511,2022091801,1412,46279.0,65.23,66.03,66.03,65.23,14.62,16.46,16.46,...,False,True,2.010952,False,True,63,2.23,3.03,3.03,2.23
223,2022091101,2951,43808.0,79.02,78.94,79.12,78.77,9.34,9.35,9.39,...,False,True,2.012932,False,True,77,2.02,1.94,2.12,1.77
4815,2022110605,2985,45185.0,56.96,57.47,57.47,56.95,15.27,16.83,16.83,...,False,True,2.017515,False,True,55,1.96,2.47,2.47,1.95
4278,2022102303,3352,52425.0,83.52,83.19,83.55,83.19,37.58,35.87,37.61,...,False,True,2.031149,False,True,86,2.48,2.81,2.45,2.81
4991,2022110700,1577,43362.0,23.71,24.00,24.10,23.68,29.67,30.98,31.17,...,False,False,2.034798,False,False,22,1.71,2.00,2.10,1.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
612,2022091106,130,42357.0,55.93,55.84,56.05,55.53,43.40,16.83,43.51,...,False,False,100.000000,False,True,59,3.07,3.16,2.95,3.47
2776,2022100202,366,53855.0,34.25,34.99,36.53,34.25,45.54,36.53,45.61,...,True,False,100.000000,True,False,33,1.25,1.99,3.53,1.25
807,2022091108,705,42589.0,101.03,101.96,103.79,101.03,34.26,21.93,34.26,...,True,False,100.000000,True,False,100,1.03,1.96,3.79,1.03
3689,2022101600,1090,48374.0,36.00,36.90,36.92,34.19,38.42,20.44,38.48,...,False,False,100.000000,False,True,38,2.00,1.10,1.08,3.81
1703,2022091803,1433,53574.0,52.17,52.46,53.42,52.17,19.63,45.61,45.61,...,False,False,100.000000,True,False,51,1.17,1.46,2.42,1.17

In [46]:
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

# Ensure specific columns are integers
final_df['direction_change'] = final_df['direction_change'].astype(int)
final_df['inMotionAtBallSnap'] = final_df['inMotionAtBallSnap'].astype(int)

# Define the columns for clustering (exclude ID columns)
clustering_columns = [
    'adjusted_x_first', 'adjusted_x_last', 'adjusted_x_max', 'adjusted_x_min',
    'y_first', 'y_last', 'y_max', 'y_min', 'direction_change',
    'inMotionAtBallSnap', 'total_distance', 'pos_TE', 'pos_WR'
]

# Extract clustering data and IDs separately
final_final_df = final_df[clustering_columns]
id_columns = final_df[['nflId', 'gameId', 'playId']]

# Filter out rows where total_distance is exactly 100
final_final_df = final_final_df[final_final_df["total_distance"] != 100]
id_columns = id_columns.loc[final_final_df.index]  # Align IDs with filtered data

# Scale data for clustering
scaler = StandardScaler()
motion_scaled = scaler.fit_transform(final_final_df)

# Perform KMeans clustering
kmeans = KMeans(n_clusters=7, random_state=0)
final_final_df['cluster'] = kmeans.fit_predict(motion_scaled)

# Combine ID columns back with the clustering results
final_final_df = pd.concat([id_columns.reset_index(drop=True), final_final_df.reset_index(drop=True)], axis=1)

# View the resulting DataFrame
final_final_df

C:\Users\rschw\AppData\Local\Temp\ipykernel_1748\1778021728.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['direction_change'] = final_df['direction_change'].astype(int)
C:\Users\rschw\AppData\Local\Temp\ipykernel_1748\1778021728.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['inMotionAtBallSnap'] = final_df['inMotionAtBallSnap'].astype(int)

,nflId,gameId,playId,adjusted_x_first,adjusted_x_last,adjusted_x_max,adjusted_x_min,y_first,y_last,y_max,y_min,direction_change,inMotionAtBallSnap,total_distance,pos_TE,pos_WR,cluster
0,42489.0,2022090800,56,2.02,1.24,2.17,1.24,27.91,43.65,43.67,27.91,0,0,15.935339,False,True,5
1,47857.0,2022090800,80,2.74,6.83,6.83,2.72,39.38,31.54,39.41,28.69,1,1,14.632298,False,False,0
2,47879.0,2022090800,212,1.90,2.68,2.68,1.90,23.83,32.83,32.83,23.83,0,1,9.043568,True,False,1
3,52536.0,2022090800,236,1.08,0.79,1.12,0.79,40.09,35.27,40.09,35.27,0,1,4.990784,False,True,3
4,43399.0,2022090800,299,2.89,1.46,1.24,2.91,23.81,18.99,23.81,18.86,0,0,11.616233,True,False,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4630,33130.0,2022110700,2182,5.03,2.83,2.83,5.03,21.85,27.69,27.69,21.85,0,1,6.688651,False,True,6
4631,43362.0,2022110700,2261,6.11,5.58,5.58,6.11,25.99,21.37,25.99,21.37,0,0,4.675413,False,False,0
4632,43362.0,2022110700,2307,6.76,5.96,5.96,6.78,28.73,24.25,28.73,24.25,0,0,4.675344,False,False,0
4633,44879.0,2022110700,2496,5.72,5.40,5.94,5.34,23.27,29.17,29.19,23.23,0,0,6.502555,False,False,0
4634,54604.0,2022110700,3059,2.97,1.97,3.07,1.97,18.46,29.84,29.84,18.40,0,0,11.763507,True,False,4

In [47]:
clusters_final = final_final_df[['nflId', 'gameId', 'playId', 'cluster']]
clusters_final.to_csv("clusters_final.csv")

In [48]:
cluster_means = final_final_df.groupby('cluster').agg(
    x_first_mean=('adjusted_x_first', 'mean'),
    x_last_mean=('adjusted_x_last', 'mean'),
    y_first_mean=('y_first', 'mean'),
    y_last_mean=('y_last', 'mean'),
    direction_change_mean=('direction_change', 'mean'),
    move_at_snap_mean=('inMotionAtBallSnap', 'mean'),
    total_distance_mean=('total_distance', 'mean'),
    te = ('pos_TE','mean'),
    wr = ('pos_WR','mean'),
  # Count the number of rows in each cluster
)

cluster_means

,x_first_mean,x_last_mean,y_first_mean,y_last_mean,direction_change_mean,move_at_snap_mean,total_distance_mean,te,wr
cluster,,,,,,,,,
0,5.416654,5.664994,26.545610,26.608566,0.116981,0.276730,8.724442,0.008805,0.045283
1,2.325797,2.130797,32.718156,31.107392,0.048173,0.297342,13.044225,1.000000,0.000000
2,2.438560,2.420046,27.706641,24.182492,0.227554,0.413313,26.617944,0.020124,0.916409
3,2.280774,3.000919,35.908823,31.757387,0.020968,0.993548,9.609204,0.000000,0.891935
4,2.440980,2.214284,21.298844,23.414108,0.087940,0.300251,12.487391,0.969849,0.000000
5,2.742005,2.155035,32.774149,37.131189,0.048951,0.002331,14.121838,0.000000,0.682984
6,2.333681,2.815154,16.112865,20.640161,0.020080,0.651941,9.508971,0.001339,0.836680